<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="submit" method="POST">{% csrf_token %}
        <label>Usuário</label>
        <input type="text" name="username">
        <label>Password:</label>
        <input type="password" name="password">

        <button type="submit" name="entrar">Entrar</button>
    </form>

    {% for message in messages %}
    <div align="center">
        <strong>Erro </strong>{{message}}
    </div>
    {% endfor %}
</body>
</html>